@model PersonViewModel

<div class="form-field">
	<label class="form-label" asp-for="DNI">
		Person DNI
	</label>
	<input type="text" asp-for="DNI" class="form-control" placeholder="12345678A" required minlength="9" maxlength="9">
</div>

<div class="form-field">
	<label class="form-label" asp-for="Name">
		Person Name
	</label>
	<input type="text" asp-for="Name" class="form-control" placeholder="Full name" required maxlength="50">
</div>

<div class="form-field">
	<label class="form-label" asp-for="Phone">
		Person Phone
	</label>
	<input type="text" asp-for="Phone" class="form-control" placeholder="600 000 000" required maxlength="9>
</div>

<div class="form-field">
	<label class="form-label" asp-for="Email">
		Person Email
	</label>
	<input type="text" asp-for="Email" class="form-control" placeholder="name@example.com" required maxlength="75">
</div>
