@model PersonViewModel

@if (!string.IsNullOrWhiteSpace(@Model.ErrorMessage))
{
	<div class="alert alert-danger" role="alert">
		@Model.ErrorMessage
	</div>
}

<form asp-action="create" asp-controller="CreatePerson" data-person-form="true"
	  method="post" class="row row-cols-lg-auto g-3 align-items-center">

	<partial name="Persons/PersonFormFields" model="Model" />

	<div class="col-12">
		<button type="submit" class="btn btn-primary">Create Person</button>
	</div>

</form>

@section Scripts {
	<partial name="Persons/PersonFormScripts" />
}
